
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache do sistema operacional
.DS_Store
Thumbs.db

# Docker
**/node_modules/
**/dist/
docker-compose.override.yml

# Volumes Docker
volumes/
mysql_data/

# Backup ou dumps de banco
*.sql
*.sqlite
*.bak

# VSCode ou IDEs
.vscode/
.idea/
*.sw?

# Arquivos temporários
*.tmp
*.temp
*.swp
